/*#e77673
#34c8bc
#06495b
#f7f9fa
#cc4a4a*/

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  padding: 0;
  margin: 0;
  background-color: #F2F1EF;
}

.homepage {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(#cc4a4a, #06495b);
    background: -o-linear-gradient(#cc4a4a, #06495b);
    background: -moz-linear-gradient(#cc4a4a, #06495b);
    background: linear-gradient(#cc4a4a, #06495b);
    background-size: cover;
    color: white;
}

.homepage-wrapper {
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 2;
}

.homepage .summary {
  margin-top: 50px;
}

.homepage .name,
.homepage .summary,
.homepage .small-summary {
  text-align: center;
}

.presentation {
  background-color: #F2F1EF;
  position: relative;
  z-index: 3;
  margin-top: 150px;
}

.presentation-wrapper {
  border-left: 1px solid grey;
  padding: 15px;
}

.profile-photo {
  padding: 0;
  border-radius: 1000px;
}

.projects {
  margin-top: 100px;
  background-color: #f7fcfc;
  padding-top: 100px;
  position: relative;
  z-index: 3;
}

/*.project {
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,.25);
  background-color: #FFF;
}*/

.project-title {
    color: orange;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project i {
  color:orange;
}
/*
.project img {
  margin-top: 50px;
}*/

.project a {
  color:orange;
}

.education {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f9fa;
}

.education h1 {

}

.education-unit {
  padding-top: 5px;
  padding-bottom: 5px;
}

.year {
  text-align: right;
}

.project {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.between-two-ferns {
  border-bottom: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gap {
  margin-bottom: 0px;
}

.contact {
  margin-top: 100px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  border-left: 1px solid black;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 750px) {
  html, body{
    font-size: 12px;
  }
}

@media only screen and (max-width: 970px) {
  html, body{
    font-size: 14px;
  }
}

.contact-link-wrapper {
  margin-top: 10px;
  text-align: right;
}

.contact-link {
  color: white;
  padding: 5px;
  border-bottom: 2px solid white;
  transition-duration: 0.5s;
}

.contact-link:hover {
  text-decoration: none;
  color:white;
  border-bottom: 2px solid #25d554;
  transition-duration: 0.5s;
}

.contact {
  padding: 50px;
  border-radius: 5px;
  border: 2px solid #25d554;
}

.education {
  z-index: 20;
}
